<!--Add your first task-->
            <div class="empty-page-add-task">
                <img class="empty-page-add-task__icon-svg" src="/images/tomato-add.svg" alt="tomato-add">
                <div class="empty-page-add-task__text">Add your first task</div>
            </div>