
<div class="reports-graph__arrow-left icon-arrow-left {{arrowLeftHidden}}"></div>
<div class="reports-graph__main-graph"></div>
<div class="reports-graph__arrow-right icon-arrow-right {{arrowRightHidden}}"></div>

<!--reports-graph__arrow-right_hidden-->