<!--First entrance page-->
            <div class="first-time-visit-page">
                <img class="first-time-visit-page__icon-svg" src="/images/tomato_settings.svg" alt="tomato_settings">
                <div class="first-time-visit-page__text">As you visited site for a first time you can check and customize your default
                    application settings</div>
                <div class="first-time-visit-page__buttons">
                    <button class="first-time-visit-page__buttons-skip">Skip</button>
                    <button class="first-time-visit-page__buttons-go-to-settings">Go to settings</button>
                </div>
            </div>