<!--            No tasks page-->
    <div class="first-entrance-page">
        <img class="first-entrance-page__icon-svg first-entrance-page__icon-svg-to-do-done" src="/images/tomato-addv02.svg" alt="tomato-addv02">
    <div class="first-entrance-page__text first-entrance-page__text_without-buttons">You don’t have any tasks left.  Add new tasks to stay productive</div>
    </div>