
<!--        Modal Remove task-->
    <div class="page__modal-wrapper-remove-task">
        <div class="page__modal-remove-task">
            <div class="container">
                <div class="task-list-modal-general-wrapper">
                    <div class="close-check-buttons task-list-modal-general-wrapper__close-check-buttons">
                        <span class="close-check-buttons__close-button icon-close"></span>
                    </div>
                    <h1 class="remove-task-title task-list-modal-general-wrapper__remove-task-title">Remove Task</h1>
                    <p class="text-message task-list-modal-general-wrapper__text-message">Are you sure you want to remove selected task(s)?</p>
                    <div class="remove-task-buttons task-list-modal-general-wrapper__remove-task-buttons">
                        <button class="remove-task-buttons__cancel">Cancel</button>
                        <button class="remove-task-buttons__remove">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>