
<img class="tomato-iteration__item" src="/images/empty-tomato.svg" alt="empty-tomato">
<img class="tomato-iteration__item" src="/images/empty-tomato.svg" alt="empty-tomato">
<img class="tomato-iteration__item" src="/images/empty-tomato.svg" alt="empty-tomato">
<span class="tomato-iteration__item tomato-iteration_img_plus icon-add"></span>