<button class="global-task-list-title-tabs__elem">Global list</button>
{{#if arrowRight}}
<div class="global-task-list-title-tabs__arrow-right icon-global-list-arrow-right"></div>
{{/if}}
{{#if arrowDown}}
<div class="global-task-list-title-tabs__arrow-down icon-global-list-arrow-down"></div>
{{/if}}