
<!--            Block Task added-->
            <div class="move-tasks-to-daily-task-list">
                <div class="move-tasks-to-daily-task-list__text">Task added,
                    move it to the top 5 in daily task list</div>
                <div class="move-tasks-to-daily-task-list__icon-arrow-circle icon-arrow_circle"></div>
            </div>