
<div class="timer-tracker__arrow-left icon-arrow-left {{arrowLeftHidden}}"></div>
<div class="timer-tracker__main-tracker"></div>
<div class="timer-tracker__arrow-right icon-arrow-right {{arrowRightHidden}}"></div>