
<ul class="global-task-list-content-category {{category.wrapTitleClassname}}">
    <li class="global-task-list-content-category__title">
        <span class="global-task-list-content-category__title_circle {{category.circleClassname}}"></span>
        <span class="global-task-list-content-category__title_text {{category.circleTextClassname}}">{{category.circleText}}</span>
    </li>
</ul>

