<!--            Sticky fixed header-->
<header class="header header-sticky task-list-general-flex-wrapper__header-sticky task-list-general-flex-wrapper__header">
    <div class="container header-sticky__container">
        <div class="header-sticky__logo">
            <img class="header-sticky__logo-svg" src="/images/Logo.svg" alt="logo">
        </div>
        <nav class="header__navigation">
            <ul class="header__navigation-list">
                <li class="header__navigation-list-add">
                    <a class="header__navigation-list-link icon-add" href="#">
                        <span class="tooltip-text">Go to Add Task</span>
                    </a>
                </li>
                <li class="header__navigation-list-trash">
                    <a class="header__navigation-list-link icon-trash" href="#">
                        <!--                                <span class="header__navigation-list-link-counter">2</span>-->
                        <span class="tooltip-text">Go to Remove Tasks</span>
                    </a>
                </li>
                <li class="header__navigation-list-list">
                    <a class="header__navigation-list-link icon-list active-state-for-elements-white" href="#">
                        <span class="tooltip-text">Go to Task Lists</span>
                    </a>
                </li>
                <li class="header__navigation-list-statistics">
                    <a class="header__navigation-list-link icon-statistics" href="#">
                        <span class="tooltip-text">Go to Reports</span>
                    </a>
                </li>
                <li class="header__navigation-list-settings">
                    <a class="header__navigation-list-link icon-settings" href="#">
                        <span class="tooltip-text">Go to Settings</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>