<div class="your-cycle settings-general-flex-wrapper__your-cycle">
    <h3 class="your-cycle__title">Your cycle</h3>
    <div class="your-cycle__graph"></div>
    <div class="your-cycle__graph-block-bottom-points-mobile"></div>
    <div class="your-cycle__graph-block-bottom-points-tablet-desktop"></div>
</div>